{% extends 'base.html.twig' %}
{% block contenu %}
    <h3 class="mt-2 ml-4">Ajouter une Personne</h3>
    <!-- Modale Ajouter Idee -->
    <div class="ml-4 mr-4">
        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {{ form_errors(form) }}
        <div class="col-12">
            <h4>Identité</h4>
            <div class="form-group mb-3 row">
                <!-- Certification -->
                <label class="col-1 col-form-label" for="idee_title">Prenom
                    <span class="required">*</span>
                </label>
                <div class="col-2">
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label class="col-1 col-form-label" for="category">Nom
                    <span class="required">*</span>
                </label>
                <div class="col-2">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label class="col-1 col-form-label" for="category">Date Naissance
                </label>
                <div class="col-2">
                    {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
        </div>
        <div class="col-12">
            <h4>Adresse</h4>
            <div class="form-group mb-3 row">

                <label class="col-1 col-form-label" for="category">Adresse
                </label>
                <div class="col-2">
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label class="col-1 col-form-label" for="category">Code Postal
                </label>
                <div class="col-2">
                    {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label class="col-1 col-form-label" for="category">Ville
                </label>
                <div class="col-2">
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="col-12">
            <h4>Rôle</h4>
            <div class="form-group mb-3 row">
                <!-- Certification -->
                <label class="col-1 col-form-label" for="idee_title">Cavalier
                </label>
                <div class="col-2">
                    {{ form_widget(form.estCavalier, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label class="col-1 col-form-label" for="category">Proprietaire
                </label>
                <div class="col-2">
                    {{ form_widget(form.estProprietaire, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    <div class="d-flex justify-content-center w-100 d-none d-sm-flex mt-4">
        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
