<div class="modal fade" id="modalAjouterCheval" role="dialog">
    <div class="modal-dialog modal-lg modalAjouterCheval">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                   un Cheval
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- /Header -->

            <!-- Body -->
            <div class="modal-body">
                {{ form_start(formCheval, {'attr': {'class': 'form-inline'}}) }}
                {{ form_errors(formCheval) }}
                <div class="form-group mb-3">
                    <!-- Certification -->
                    <label class="col-sm-3 col-form-label" for="cheval_nom">Nom
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-9">
                        {{ form_widget(formCheval.nom, {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                </div>
                <div class="d-flex justify-content-center w-100 d-none d-sm-flex mt-4">
                    {{ form_widget(formCheval.enregistrer, {'attr': {'class': 'btn btn-success'} }) }}
                    {{ form_end(formCheval) }}
                </div>

            </div>
            <!-- /Body -->
        </div>
    </div>
</div>