<div id="conteneurModale"></div>
<div class="container-fluid">
    <div class="box mt-2 p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>{{ title }}</h2>
            <a href="{{ path('cheval_add') }}" class="btn btn-secondary btn-round">
                <i class="fas fa-horse-head"></i>
                <span>Ajouter Cheval</span>
            </a>
        </div>
        <table class="table table-striped table-hover"
               id="tblChevaux" width="100%">
            <thead>
            <tr>
                <th class="d-none">ID</th>
                <th>Nom</th>
                <th>Affixe</th>
                <th>Sexe</th>
                <th>Reproducteur</th>
                <th>Robe</th>
                <th>Race</th>
                <th>Pure Race</th>
                <th>Poids</th>
                <th>Taille</th>
            </tr>
            </thead>
            <tbody>
            {% for cheval in chevaux %}
                <tr>
                    <td class="d-none">{{ cheval.id }}</td>
                    <td>{{ cheval.nom }}</td>
                    <td>{{ cheval.affixe.libelle }}</td>
                    <td>
                        <i class="fas
                                {% if cheval.sexe.id == 1 %} fa-mars
                                {% elseif cheval.sexe.id == 2 %} fa-genderless
                                {% else %} fa-venus {% endif %}"></i>
                    </td>
                    <td><i class="fas {% if cheval.isReproducteur %} fa-check {% else %} fa-times {% endif %}"></i></td>
                    <td>{{ cheval.robe.libelle }}</td>
                    <td>{{ cheval.race.libelle }}</td>
                    <td><i class="fas {% if cheval.isPureRace %} fa-check {% else %} fa-times {% endif %}"></i></td>
                    <td>{{ cheval.poids }}</td>
                    <td>{{ cheval.taille }}</td>
                </tr>
            {% endfor %}
            <tr></tr>
            </tbody>
        </table>
    </div>
</div>