<div id="conteneurModale"></div>
<div class="container-fluid">
    {% import 'macros/layout.html.twig' as macros %}
    <div class="box mt-2 p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>{{ title }}</h2>
            {{ macros.addButton('ajouterCheval') }}
        </div>
        <table class="table table-striped table-hover"
               id="tblChevaux" width="100%">
            <thead>
            <tr>
                <th class="d-none">ID</th>
                <th>Nom</th>
                <th>Affixe</th>
                <th>Sexe</th>
                <th>Robe</th>
                <th>Race</th>
                <th>Pure Race</th>
                <th>Poids</th>
                <th>Taille</th>
            </tr>
            </thead>
            <tbody>
            {% for cheval in chevaux %}
                <tr>
                    <td class="d-none">{{ cheval.id }}</td>
                    <td>{{ cheval.nom }}</td>
                    <td>{{ cheval.affixe }}</td>
                    <td>
                        <i class="fas
                                {% if cheval.sexe.id == 1 %} fa-mars
                                {% elseif cheval.sexe.id == 2 %} fa-genderless
                                {% else %} fa-venus {% endif %}"></i>
                    </td>
                    <td>{{ cheval.robe.libelle }}</td>
                    <td>{{ cheval.race.libelle }}</td>
                    <td><i class="fas {% if cheval.isPureRace %} fa-check {% else %} fa-times {% endif %}"></i></td>
                    <td>{{ cheval.poids }}</td>
                    <td>{{ cheval.taille }}</td>
                </tr>
            {% endfor %}
            <tr></tr>
            </tbody>
        </table>
    </div>
</div>
{% block javascripts %}
    <script>
        function getModaleCheval(id) {
            if (countClick === 0) {
                $.post("{{ path('cheval_modale') }}", {
                        idEntity: id, // id de l'enregistrement à modifier
                    }, mf1, // fonction de retour.
                    'html'); // Format des données reçues.

                function mf1(code_html) {
                    $("#conteneurModale").html(code_html); // On passe code_html au conteneur de modale
                    $("#modalAjouterCheval").modal({ // On affiche la modale
                        backdrop: 'static'
                    });

                    $('.close').on('click', function () {
                        countClick = 0;
                    });
                }
            }
            countClick++;
        }
        $(document).ready(function () {
            $('#ajouterCheval').on('click', () => {
                getModaleCheval(-1);
            });
        })
    </script>

{% endblock %}